.table-sortable th {
  cursor: pointer;
}

.table .th-sort-asc::after {
  content: "\25b4";
}

.table .th-sort-desc::after {
  content: "\25be";
}

.table .th-sort-asc::after,
.table .th-sort-desc::after {
  margin-left: 5px;
}

.table .th-sort-asc,
.table .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

.h3 {
    text-align:center;
}
